In [19]:
import json
import pandas as pd
import numpy as np

In [20]:
url = "https://data.sfgov.org/resource/wg3w-h783.json?$limit=500";

data = pd.read_json(url) 

data.head()

,incident_datetime,incident_date,incident_time,incident_year,incident_day_of_week,report_datetime,row_id,incident_id,incident_number,cad_number,...,:@computed_region_qgnn_b9vv,:@computed_region_26cr_cadq,:@computed_region_ajp5_b2md,:@computed_region_6pnf_4xz7,:@computed_region_nqbw_i6c3,:@computed_region_h4ep_8xdi,:@computed_region_2dwj_jsy4,filed_online,:@computed_region_jg9y_a9du,:@computed_region_y6ts_4iup
0,2019-05-01T01:00:00.000,2019-05-01T00:00:00.000,2020-04-09 01:00:00,2019,Wednesday,2019-06-12T20:27:00.000,81097515200,810975,190424067,191634131.0,...,10.0,7.0,35.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-06-22T07:45:00.000,2019-06-22T00:00:00.000,2020-04-09 07:45:00,2019,Saturday,2019-06-22T08:05:00.000,81465564020,814655,190450880,191730737.0,...,1.0,10.0,34.0,2.0,1.0,1.0,NaN,NaN,NaN,NaN
2,2019-06-03T16:16:00.000,2019-06-03T00:00:00.000,2020-04-09 16:16:00,2019,Monday,2019-06-03T16:16:00.000,80769875000,807698,190397016,191533509.0,...,2.0,9.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-11-16T16:34:00.000,2018-11-16T00:00:00.000,2020-04-09 16:34:00,2018,Friday,2018-11-16T16:34:00.000,73857915041,738579,180870806,183202539.0,...,6.0,3.0,6.0,2.0,NaN,NaN,18.0,NaN,NaN,NaN
4,2019-05-27T02:25:00.000,2019-05-27T00:00:00.000,2020-04-09 02:25:00,2019,Monday,2019-05-27T02:55:00.000,80509204134,805092,190378555,191470256.0,...,4.0,6.0,13.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
data.describe()

,incident_year,row_id,incident_id,incident_number,cad_number,incident_code,cnn,supervisor_district,latitude,longitude,...,:@computed_region_qgnn_b9vv,:@computed_region_26cr_cadq,:@computed_region_ajp5_b2md,:@computed_region_6pnf_4xz7,:@computed_region_nqbw_i6c3,:@computed_region_h4ep_8xdi,:@computed_region_2dwj_jsy4,filed_online,:@computed_region_jg9y_a9du,:@computed_region_y6ts_4iup
count,500.000000,5.000000e+02,500.000000,5.000000e+02,4.190000e+02,500.000000,4.670000e+02,467.000000,467.000000,467.000000,...,466.000000,467.000000,467.000000,467.000000,114.000000,60.0,27.000000,64.0,6.0,6.000000
mean,2019.508000,8.597522e+10,859751.904000,1.962422e+08,1.967290e+08,27244.058000,2.559560e+07,6.081370,37.769204,-122.422611,...,4.740343,6.680942,20.635974,1.509636,2.500000,1.0,33.666667,1.0,1.0,28.333333
std,0.647127,5.468253e+09,54682.543776,6.526423e+06,5.326730e+06,26896.750972,3.377745e+06,2.754983,0.022827,0.025432,...,2.667842,3.333231,12.499109,0.500443,1.384171,0.0,13.106076,0.0,0.0,4.131182
min,2018.000000,7.323663e+10,732366.000000,1.610102e+08,1.808863e+08,3054.000000,2.012100e+07,1.000000,37.709162,-122.509402,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,3.000000,1.0,1.0,23.000000
25%,2019.000000,8.176635e+10,817663.250000,1.905154e+08,1.919477e+08,6244.000000,2.406350e+07,3.500000,37.755066,-122.433366,...,3.000000,3.000000,8.000000,1.000000,1.000000,1.0,35.000000,1.0,1.0,25.000000
50%,2020.000000,8.986001e+10,898600.000000,2.000832e+08,2.003400e+08,11012.000000,2.495100e+07,6.000000,37.774565,-122.417205,...,4.000000,7.000000,20.000000,2.000000,3.000000,1.0,35.000000,1.0,1.0,31.000000
75%,2020.000000,8.987306e+10,898730.500000,2.000847e+08,2.003417e+08,63010.000000,2.649800e+07,9.000000,37.785416,-122.407314,...,6.000000,10.000000,34.000000,2.000000,3.000000,1.0,35.000000,1.0,1.0,31.000000
max,2020.000000,8.988811e+10,898881.000000,2.060245e+08,2.003438e+08,75030.000000,5.122700e+07,11.000000,37.824119,-122.372658,...,10.000000,11.000000,41.000000,2.000000,5.000000,1.0,80.000000,1.0,1.0,31.000000

In [30]:
filtered_df = data.filter(items = ["incident_id", "incident_date", "latitude", "longitude", "incident_category"])
filtered_latlon_df = filtered_df.dropna()

filtered_latlon_df

,incident_id,incident_date,latitude,longitude,incident_category
0,810975,2019-05-01T00:00:00.000,37.762569,-122.499627,Offences Against The Family And Children
1,814655,2019-06-22T00:00:00.000,37.780535,-122.408161,Non-Criminal
2,807698,2019-06-03T00:00:00.000,37.721600,-122.390745,Missing Person
3,738579,2018-11-16T00:00:00.000,37.794860,-122.404876,Offences Against The Family And Children
4,805092,2019-05-27T00:00:00.000,37.797716,-122.430559,Assault
...,...,...,...,...,...
495,898811,2020-02-03T00:00:00.000,37.780927,-122.413676,Traffic Collision
496,898666,2020-02-03T00:00:00.000,37.730318,-122.404706,Larceny Theft
497,898582,2020-02-03T00:00:00.000,37.732503,-122.409432,Miscellaneous Investigation
498,786464,2019-04-03T00:00:00.000,37.783101,-122.419182,Drug Offense
499,898544,2020-02-02T00:00:00.000,37.736015,-122.384746,Offences Against The Family And Children

In [24]:
#  create the 2019 dataframe (Dec 2018 - April 2019)

data.

,incident_datetime,incident_date,incident_time,incident_year,incident_day_of_week,report_datetime,row_id,incident_id,incident_number,cad_number,...,:@computed_region_qgnn_b9vv,:@computed_region_26cr_cadq,:@computed_region_ajp5_b2md,:@computed_region_6pnf_4xz7,:@computed_region_nqbw_i6c3,:@computed_region_h4ep_8xdi,:@computed_region_2dwj_jsy4,filed_online,:@computed_region_jg9y_a9du,:@computed_region_y6ts_4iup
0,2019-05-01T01:00:00.000,2019-05-01T00:00:00.000,2020-04-09 01:00:00,2019,Wednesday,2019-06-12T20:27:00.000,81097515200,810975,190424067,191634131.0,...,10.0,7.0,35.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-06-22T07:45:00.000,2019-06-22T00:00:00.000,2020-04-09 07:45:00,2019,Saturday,2019-06-22T08:05:00.000,81465564020,814655,190450880,191730737.0,...,1.0,10.0,34.0,2.0,1.0,1.0,NaN,NaN,NaN,NaN
2,2019-06-03T16:16:00.000,2019-06-03T00:00:00.000,2020-04-09 16:16:00,2019,Monday,2019-06-03T16:16:00.000,80769875000,807698,190397016,191533509.0,...,2.0,9.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-11-16T16:34:00.000,2018-11-16T00:00:00.000,2020-04-09 16:34:00,2018,Friday,2018-11-16T16:34:00.000,73857915041,738579,180870806,183202539.0,...,6.0,3.0,6.0,2.0,NaN,NaN,18.0,NaN,NaN,NaN
4,2019-05-27T02:25:00.000,2019-05-27T00:00:00.000,2020-04-09 02:25:00,2019,Monday,2019-05-27T02:55:00.000,80509204134,805092,190378555,191470256.0,...,4.0,6.0,13.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,2020-02-03T15:25:00.000,2020-02-03T00:00:00.000,2020-04-09 15:25:00,2020,Monday,2020-02-03T15:25:00.000,89881168060,898811,200084991,200342265.0,...,5.0,10.0,36.0,2.0,1.0,1.0,NaN,NaN,NaN,NaN
496,2020-02-03T09:13:00.000,2020-02-03T00:00:00.000,2020-04-09 09:13:00,2020,Monday,2020-02-03T09:20:00.000,89866606363,898666,200083965,200340964.0,...,2.0,2.0,25.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
497,2020-02-03T00:45:00.000,2020-02-03T00:00:00.000,2020-04-09 00:45:00,2020,Monday,2020-02-03T00:49:00.000,89858268020,898582,200083551,200340078.0,...,2.0,2.0,25.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
498,2019-04-03T11:04:00.000,2019-04-03T00:00:00.000,2020-04-09 11:04:00,2019,Wednesday,2019-04-03T11:04:00.000,78646416623,786464,190235024,190931688.0,...,4.0,10.0,36.0,2.0,NaN,1.0,NaN,NaN,NaN,NaN
499,2020-02-02T19:36:00.000,2020-02-02T00:00:00.000,2020-04-09 19:36:00,2020,Sunday,2020-02-02T19:40:00.000,89854415040,898544,200083012,200332914.0,...,2.0,9.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN